<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="icon" src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-512.png" />
</head>
<body>
    <div style="min-height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;
                "
    >
    <img style="width: 20px;"src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-512.png" alt="success">
    <h3 style="color: gray;
               font-weight: 300;
               font-family: Arial, Helvetica, sans-serif;
               margin-left: 5px;
              ">Error!</h3>  
  </div>
</body>
</html>