.message_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.message_content {
    border: 1px solid rgb(238, 235, 235);
    border-radius: 5px;
    padding:  5px 10px ;
    margin:  5px 0;
}

.author_title {
    color: rgb(46, 45, 45);
    font-weight: 300;
    
}

.date_title {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}