.button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-transform: uppercase !important;
    &--large {
      height: 35px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      text-transform: uppercase !important;
    }
  }