.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
    &--large {
      height: 35px !important;
      display: flex;
  justify-content: center;
  align-items: center;
    }
  }