.text_content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
}
.dialog_wrapper :hover{
  color: rgb(61, 61, 61);
}

.dialog_wrapper {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    min-width: 100;
    color: rgb(97, 97, 97)
  }

.message_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    //border-bottom: 1px solid rgb(238, 235, 235);
}

.author_title {
    color: rgb(46, 45, 45);
    font-weight: 300;
    margin-right: 5px;
}

.header_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}